.content {
    padding: 75px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 10;
}

.header__bg {
    background: transparent;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
}

.logo {
    display: block;
    flex-shrink: 0;
    width: 210px;
    height: 55px;
}

.header__logo {
    margin-right: 50px;
}

.nav__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__item {
    margin-right: 40px;
    position: relative;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__under {
    position: absolute;
    left: 0;
    top: 105%;
    display: none;
}

.nav__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    transition: .2s ease-in-out;
    position: relative;
}

.nav__link:hover {
    color: #EC008C;
}

.nav__link img {
    margin-left: 5px;
}

.search__form {
    margin-left: auto;
}

.header__elems {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search__txt {
    -webkit-appearance: none;
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    top: 0;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #ffffff;
    padding: 0;
    transition: .3s ease-in-out;
    font-size: 14px;
    z-index: 2;
}

.search__txt:focus-visible {
    outline: none;
}

.search__txt.active {
    width: 80%;
    padding: 0 5px;
}

.search__sbm {
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url('../img/svg/search.svg') center no-repeat;
    background-color: transparent;
    transition: .3s ease-in-out;
    transform-origin: center;
    margin-right: 30px
}

.search__sbm.active {
    margin-right: 60px;
}

.search__sbm:hover {
    transform: rotate(80deg);
}

.account__link {
    display: inline-flex;
    margin-right: 30px;
}

.account__link svg path {
    transition: .2s ease-in;
}

.account__link:hover svg path {
    fill: #FFE600;
}

.header__lang {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(81, 81, 81, 0.1);
    border-radius: 30px;
    transition: .3s ease-in-out;
    display: flex;
}

.header__lang.hidden {
    box-shadow: unset;
}

.lang__link {
    display: block;
    padding: 8px 10px;
    background: #ffffff;
    border-radius: 30px;
    color: #3C3664;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.lang__link:hover:not(.active) {
    color: #FFE600;
}

.lang__link:first-child {
    margin-right: -5px;
}

.lang__link.active {
    background: linear-gradient(318.94deg, #3C3664 30.11%, #046AC9 136.62%);
    border-radius: 30px;
    color: #ffffff;
    z-index: 1;
    pointer-events: none;
}

.preview {
    position: relative;
    min-height: 100vh;
    max-height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.preview__pretitle {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}

.preview__title {
    font-size: 50px;
    width: 40%;
    line-height: 115%;
    margin-bottom: 20px;
    text-align: left;
}

.preview__text {
    width: 30%;
}

.txt {
    line-height: 140%;
}

.red-btn {
    display: inline-block;
    background-color: transparent;
    border-radius: 30px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
}

.red-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #BE1823 0%, #FF4E59 100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 30px;
    z-index: -1;
}

.red-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FFE600 -6.5%, #F23E17 139.84%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 30px;
    z-index: -1;
}

.red-btn:hover::before {
    opacity: 0;
    visibility: hidden;
}

.red-btn:hover::after {
    opacity: 1;
    visibility: visible;
}

.preview__link {
    margin-top: 30px;
    padding: 17px 30px;
}

.preview__container {
    position: relative;
}

.pink {
    position: absolute;
    width: 500px;
    height: 700px;
    left: -10%;
    top: -20%;
    z-index: -2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pink-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFE3E3;
    filter: blur(100px);
}

.text-white-vertical {
    font-size: 150px;
    font-weight: 800;
    transform: rotate(-90deg);
    color: #ffffff;
    text-transform: uppercase;
}

.preview-blob-1,
.preview-blob-2,
.preview-blob-3,
.preview-blob-4 {
    position: absolute;
    top: -20%;
    right: -10%;
    width: 60%;
    height: 90%;
}

.preview-blob-1 {
    /* mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);
    -webkit-mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg); */
    mask-image: url('../img/mask3.png');
    -webkit-mask-image: url('../img/mask3.png');
    -webkit-mask-size: 94%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 1200px;
    height: 1100px;
}

.preview-blob-1 * {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-blob-5,
.preview-blob-6,
.preview-blob-7 {
    position: absolute;
    bottom: 0;
    left: -10%;
}

.pre-title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.peculiarities__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 55%;
}


/* white cards */

.white__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.white__card {
    width: 24%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 40px 30px 30px 30px;
}

.white__card:not(:nth-child(-n+4)) {
    margin-top: 20px;
}

.white__card:not(:nth-child(4n+4)) {
    margin-right: 1.33%;
}

.white__card-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: auto;
}

.white__card-img {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}

.white__card-img img {
    width: 70px;
    height: 70px;
}

.white__card-img .black {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: .3s ease-in-out;
}

.white__card:nth-child(4n+1) .white__card-img {
    background: url('../img/svg/klyaksa1.svg') no-repeat left / contain;
}

.white__card:nth-child(4n+2) .white__card-img {
    background: url('../img/svg/klyaksa2.svg') no-repeat left / contain;
}

.white__card:nth-child(4n+3) .white__card-img {
    background: url('../img/svg/klyaksa3.svg') no-repeat left / contain;
}

.white__card:nth-child(4n+4) .white__card-img {
    background: url('../img/svg/klyaksa4.svg') no-repeat left / contain;
}

.white__card-line {
    width: 60px;
    margin: 40px 0;
    height: 2px;
    background: #3C3664;
}

.white__card-text p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 130%;
    transition: .3s ease-in;
}

.white__card-title,
.white__card-line,
.white__card-text {
    position: relative;
    z-index: 1;
    transition: .3s ease-in;
}

.white__card {
    transition: .3s ease-in;
    position: relative;
}

.white__card::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(318.94deg, #3C3664 30.11%, #046AC9 136.62%);
    border-radius: 10px;
    opacity: 0;
    transition: .3s ease-in;
}

.white__card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.31);
}

.white__card:hover::before {
    opacity: 1;
}

.white__card:hover .white__card-title {
    color: #ffffff;
}

.white__card:hover .white__card-img .black {
    opacity: 0;
}

.white__card:hover .white__card-line {
    background: #ffffff;
}

.white__card:hover .white__card-text p {
    color: #ffffff;
}


/* white card end */

.peculiarities,
.peculiarities__container {
    position: relative;
}

.orange {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 350px;
    height: 700px;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-blur {
    background: #FFEDD8;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(100px);
}

.blot-dot {
    position: absolute;
    top: 20%;
    left: -15%;
    z-index: -1;
}

.best__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best__item {
    width: 45%;
}

.best__pretitle {
    text-align: left;
}

.best__img {
    position: relative;
    mask-image: url('../img/bestmask.png');
    -webkit-mask-image: url('../img/bestmask.png');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    width: 100%;
    height: 100%;
}

.best-1,
.best-2 {
    position: absolute;
}

.best-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.best-1 {
    top: 20%;
    right: 0;
    opacity: .9;
}

.best__img img:not(img[class]) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best__title {
    text-align: left;
}

.best__link {
    margin-top: 30px;
    padding: 17px 55px;
}

.best__item:first-child {
    position: relative;
}

.best__item .orange {
    height: 400px;
    left: -20%;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider__title {
    text-align: center;
}

.slider__items {
    position: relative;
    margin: 0 -80px;
    padding-bottom: 100px;
}

.slider__item {
    position: relative;
    display: block;
    margin: 0 15px;
    height: 280px;
    overflow: hidden;
}

.slider__item:hover .slider__info {
    bottom: 10%;
}

.slider__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.slider__info {
    position: absolute;
    bottom: 5%;
    left: 3%;
    color: #ffffff;
    transition: .2s ease-in-out;
}

.slider__date {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.slider__text p {
    text-transform: uppercase;
    font-weight: 700;
}

ul.slick-dots {
    position: absolute;
    display: flex;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

ul.slick-dots li:not(:last-child) {
    margin-right: 15px;
}

ul.slick-dots li button {
    background: #6A5DED;
    font-size: 0;
    width: 10px;
    height: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 0;
    transition: .3s ease-in-out;
}

ul.slick-dots li.slick-active button {
    width: 36px;
}

.slider .pink {
    height: 250px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: auto;
}

.slider .preview-blob-2 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 500px;
}

.free__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.free__item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 24%;
    margin-right: 1.33%;
    border-radius: 10px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.07);
    transition: .3s ease-in-out;
}

.free__item:nth-child(4n+4) {
    margin-right: 0;
}

.free__img {
    width: 100%;
    height: 360px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.free__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
}

.free__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(318.94deg, #3C3664 30.11%, #046AC9 136.62%);
    opacity: 0;
    transition: .3s ease-in-out;
}

.free__bg img {
    height: 100%;
    width: 100%;
}

.free__item-title {
    text-align: center;
    margin: 35px 0 20px 0;
    font-size: 25px;
    font-weight: 800;
    padding: 0 50px;
}

.free__btn {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.white-btn {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    background: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 17px 55px;
    margin-bottom: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.white-btn .red {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 30px;
    background: linear-gradient(180deg, #BE1823 0%, #FF4E59 100%);
    opacity: 0;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-btn .orange-btn {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 30px;
    background: linear-gradient(180deg, #FFE600 -6.5%, #F23E17 139.84%);
    opacity: 0;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-btn::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(180deg, #00FFDE -6.5%, #888EF2 139.84%);
    border-radius: 34px;
    z-index: -1;
}

.free__img,
.free__item-title {
    position: relative;
    z-index: 1;
    transition: .3s ease-in-out;
}

.free__item:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.31);
}

.free__item:hover .free__bg {
    opacity: 1;
}

.free__item:hover .free__item-title {
    color: #ffffff;
}

.free__item:hover .white-btn .red {
    opacity: 1;
}

.free__item:hover .free__img img {
    transform: scale(1.1);
}

.white-btn:hover .red {
    opacity: 0;
}

.white-btn:hover .orange-btn {
    opacity: 1;
}

.free__container {
    position: relative;
}

.free {
    position: relative;
}

.free .pink {
    left: -10%;
    top: 80%;
    transform: translateY(-80%);
}

.free-blob {
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: -1;
}

.news__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.news__item {
    display: flex;
    flex-direction: column;
}

.news__item.w-24 {
    width: 24%;
    margin-right: 1.33%;
}

.news__item.w-24:nth-child(4n+4) {
    margin-right: 0;
}